<link rel="stylesheet" href="/css/nav.css">
<div class="container">
  <div class="nav-wrapper">
    <div class = "left-side">
      <div class="link-wrapper">
        <a href="/">Home</a>
      </div>

      <div class="link-wrapper">
        <a href="/login">Login</a>
      </div>

      <div class="link-wrapper">
        <a href="/register">Resgister</a>
      </div>
    </div>
  </div>
</div>
