<link rel="stylesheet" href="/css/nav.css">
<div class="container">
  <div class="nav-wrapper">
    <div class = "left-side">
      <div class="link-wrapper">
        <a href="/">Home</a>
      </div>

      <div class="link-wrapper">
        <a href="/services">Services</a>
      </div>
    </div>

    <div class = "right-side">
      <div class="link-wrapper">
        <a href="/login">Login</a>
      </div>

      <div class="link-wrapper">
        <a href="/register">Register</a>
      </div>
    </div>
  </div>
</div>
