<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FairHomePro</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/complaints.css"/>
</head>
<body>
  <div class="home-container">
    <div class="nav">
      <%- include("partials/hub_Header.ejs") -%>
    </div>
    <div class="title">
      <h1>File a Complaint</h1>
    </div>

    <div class="form-container">
      <form action="/complaints" method="POST" class="complaint-form">
        <h2>Complaint recipiant</h2>
        <input type="text" id="Recipiant_Name" placeholder="Recipiant Name (full)" name="Recipiant_Name"><br>
        <input type="text" id="BuisnessName" placeholder="Buisness Name (if applicable)" name="BuisnessName"><br>
        <textarea id="complaint" placeholder="Complaint" name="Complaint_des" rows="15" cols="50"></textarea>
        <input type="submit" class="submit" value="File">
      </form>
  </div>
</body>
</html>
