<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FairHomePro</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/login.css"/>
</head>
<body>
  <div class="login-container">
    <div class="nav">
      <%- include("partials/header.ejs") -%>
    </div>

    <div class="form-container">
      <form action="/login" method="POST" class="login-form">
        <h2>Login</h2>
        <% if (messages.error) {%>
          <%=messages.error %>
        <% } %>
        <input type="email" id="email" placeholder="Email" name="email" required><br>
        <input type="password" id="password" placeholder="Password" name="password" required><br>
        <input type="submit" class="login" value="Login">
      </form>

    </div>

  </div>
</body>
</html>
