<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home</title>
  <link rel="stylesheet" href="css/login.css"/>
</head>
<body>
  <div class="home-container">
    <div class="title">
      <h1>FairHomePro</h1>
    </div>

    <div class="form-container">
      <form class="login-form">
        <h2>Login</h2>
        <input type="email" id="email" placeholder="Email"><br>
        <input type="text" id="password" placeholder="Password"><br>
        <input type="submit" class="login" value="Login">
      </form>

    </div>

  </div>
</body>
</html>
