<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FairHomePro</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/register.css"/>
</head>
<body>
  <div class="home-container">
    <div class="nav">
      <%- include("partials/header.ejs") -%>
    </div>

    <div class="form-container">
      <form class="register-form">
        <h2>Register</h2>
        <input type="text" id="name" placeholder="Name"><br>
        <input type="email" id="email" placeholder="Email"><br>
        <input type="text" id="password" placeholder="Password"><br>
        <input type="submit" class="submit" value="Create">
      </form>

    </div>
  </div>
</body>
</html>
