<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FairHomePro</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/register.css"/>
</head>
<body>
  <div class="home-container">
    <div class="nav">
      <%- include("partials/header.ejs") -%>
    </div>

    <div class="form-container">
      <form action="/register" method="POST" class="register-form">
        <label class="label1">
          Buisness <input id="info_switch" type="checkbox" name="info_switch" onclick="ShowBusiness()"/>
        </label>

        <div id="HomeOwner">
          <h2>Register Home Owner</h2>
          <input type="text" id="name" placeholder="Name" name="name"><br>
          <input type="email" id="email" placeholder="Email" name="email"><br>
          <input type="number" id="phone" placeholder="Phone" name="phone"><br>
          <input type="text" id="address" placeholder="Primary Address" name="PrimaryAddress"><br>

          <h2>Home Details</h2>
          <input type="text" id="HomeType" placeholder="Type of Home" name="HomeType"><br>
          <input type="number" id="Sqft" placeholder="Square Footage" name="Sqft"><br>
          <input type="number" id="Floors" placeholder="# of Floors" name="Floors"><br>
          <input type="text" id="ConsType" placeholder="Construction type" name="ConsType"><br>
          <input type="number" id="YardSize" placeholder="yard size (sq ft)" name="YardSize"><br>
          <input type="text" id="Plants" placeholder="Plants (Y/N)" name="plants"><br>
          <input type="text" id="address" placeholder="Home Address" name="HomeAddress"><br>
        </div>

        <div id="BuisnessOwner">
          <h2>Register Buisness</h2>
          <input type="text" id="name" placeholder="Buisness Name" name="BuisnessName"><br>
          <input type="email" id="email" placeholder="Buisness Email" name="BuisnessEmail"><br>
          <input type="number" id="phone" placeholder="Buisness Phone" name="BuisnessPhone"><br>
          <input type="text" id="address" placeholder="Buisness Address" name="BuisnessAddress"><br>

          <h2>Add Service Areas</h2>
          <div id="service_areas">
            <input type="button" class="add" value="Add" onclick="create_area()">
          </div>

          <h2>Add Licenses</h2>
          <div id="add_licenses">
            <input type="button" class="add" value="Add" onclick="create_license()">
          </div>

          <h2>Add Specialties</h2>
          <div id="add_specialties">
            <input type="button" class="add" value="Add" onclick="create_specialtie()">
          </div>
        </div>

        <h2>Bank Info</h2>
        <input type="number" id="CreditCard#" placeholder="CreditCard#" name="CreditCard"><br>
        <input type="text" id="Exp" placeholder="Exp. MM/YY" name="exp"><br>
        <input type="number" id="CVV" placeholder="CVV" name="CVV"><br>
        <input type="number" id="Zipcode" placeholder="Zipcode" name="Zipcode"><br>
        <input type="number" id="PIN" placeholder="PIN (only for Debit)" name="PIN"><br>

        <h2>Set Password</h2>
        <input type="text" id="password" placeholder="Password" name="password"><br>

        <input type="submit" class="submit" value="Create">
      </form>
  </div>

  <script>

  function ShowBusiness() {
    var y = document.getElementById("BuisnessOwner");
    var x = document.getElementById("HomeOwner");
    var check = document.querySelector('#info_switch').checked;

    if (!check) {
      x.style.display = "block";
      y.style.display = "none";
    } else {
      x.style.display = "none";
      y.style.display = "block";
    }
  }

  //create buttons
  function create_area()
  {
    var element = document.createElement("INPUT");
    element.setAttribute("id", "service_area");
    element.setAttribute("type", "text");
    element.setAttribute("placeholder", "Service Area");
    element.setAttribute("name", "areas[]");
    document.getElementById("service_areas").appendChild(element);
  }

  function create_license()
  {
    var element = document.createElement("INPUT");
    element.setAttribute("id", "license");
    element.setAttribute("type", "text");
    element.setAttribute("placeholder", "License");
    element.setAttribute("name", "licenses");
    document.getElementById("add_licenses").appendChild(element);
  }

  function create_specialtie()
  {
    var element = document.createElement("INPUT");
    element.setAttribute("id", "specialtie");
    element.setAttribute("type", "text");
    element.setAttribute("placeholder", "Speacialtie");
    element.setAttribute("name", "specialties");
    document.getElementById("add_specialties").appendChild(element);
  }
</script>
</body>
</html>
