<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FairHomePro</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/register.css"/>
</head>
<body>
  <div class="home-container">
    <div class="nav">
      <%- include("partials/header.ejs") -%>
    </div>

    <div class="form-container">
      <form action="/register" method="POST" class="register-form">
        <h2>Register</h2>
        <input type="text" id="name" placeholder="Name" name="name" required><br>
        <input type="email" id="email" placeholder="Email" name="email" required><br>
        <input type="text" id="password" placeholder="Password" name="password" required><br>

        <h2>Bank Info</h2>
        <input type="text" id="name" placeholder="CreditCard#" name="name" ><br>
        <input type="email" id="email" placeholder="Zipcode" name="email" ><br>
        <input type="text" id="password" placeholder="Address" name="password" ><br>

        <label class="label1">
          Buisness
          <input class="info_switch" type="checkbox" onclick="ShowBusiness()"/>
        </label>

        <div id="HomeOwner">
          <h2>Home Details</h2>
          <input type="text" id="name" placeholder="Type of Home" name="name"><br>
          <input type="text" id="name" placeholder="Square Footage" name="name"><br>
          <input type="text" id="name" placeholder="# of Floors" name="name"><br>
          <input type="text" id="name" placeholder="Construction type" name="name"><br>
          <input type="text" id="name" placeholder="yard size (sq ft)" name="name"><br>
        </div>

        <div id="BuisnessOwner">
          <h2>Buisness</h2>
          <input type="text" id="name" placeholder="Buisness Name" name="name"><br>
          <input type="text" id="name" placeholder="Money" name="name"><br>
        </div>
        <input type="submit" class="submit" value="Create">
      </form>
    </div>

    <div class="HomeOwner">

    </div>
  </div>

  <script>

  function ShowBusiness() {
    var y = document.getElementById("BuisnessOwner");
    var x = document.getElementById("HomeOwner");
    if (x.style.display === "none") {
      x.style.display = "block";
      y.style.display = "none";
    } else {
      x.style.display = "none";
      y.style.display = "block";
    }
  }
</script>
</body>
</html>
