<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FairHomePro</title>
  <link rel="stylesheet" href="css/services.css"/>
</head>
<body>
  <div class="home-container">
    <div class="nav">
      <%- include("partials/header.ejs") -%>
    </div>
    <div class="title">
      <h1>List of Services</h1>
    </div>

    <div class="service-container">
      <div class="details">
        <h1>Service</h1>
        <h1>Provider</h1>
        <h1>Price</h1>
      </div>

      <div class="description">
        <p>Description</p>
      </div>
    </div>
    
  </div>
</body>
</html>
