<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FairHomePro</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/settings.css"/>
</head>
<body>
  <div class="home-container">
    <div class="nav">
      <%- include("partials/hub_Header.ejs") -%>
    </div>
    <div class="title">
      <h1>Settings</h1>
    </div>

    <div class="form-container">
      <form action="/complaints" method="POST" class="complaint-form">
        <h2>Update Contact Info</h2>
        <input type="text" id="name" placeholder="Name" name="name" required><br>
        <input type="email" id="email" placeholder="Email" name="email" required><br>
        <input type="text" id="password" placeholder="Password" name="password" required><br>

        <h2>Update Bank Info</h2>
        <input type="text" id="CreditCard#" placeholder="CreditCard#" name="CreditCard#"><br>
        <input type="email" id="Zipcode" placeholder="Zipcode" name="Zipcode"><br>
        <input type="text" id="Address" placeholder="Address" name="Address"><br>
        <input type="submit" class="submit" value="Update">
      </form>
  </div>
  </div>
</body>
</html>
