body {
  margin: 0;
  background-color: #2C3531;
  font-family: 'Noto Sans Mono', monospace;
  background-image: url(../img/tim-mossholder-aFtibpO0hQQ-unsplash.jpg);
  background-size: cover;
}

.title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 30%;
  color: #FFCB9A;
}

.title h1 {
  font-size: 6em;
}

.title h2 {
  font-size: 1.5em;
}
