body {
  margin: 0;
  background-color: #2C3531;
  font-family: 'Noto Sans Mono', monospace;
}

.form-container {
  margin-top: 5%;
  position: relative;
  left: 15%;
}

.register-form {
  position: absolute;
  height: 600px;
}

.label1 {
  color: #D1E8E2;
  font-size: 1.8em;
  display: block;
}

.info_switch {
  vertical-align: middle;
  position: relative;
}

#BuisnessOwner {
  display: none;
}

#HomeOwner {
  display: block;
}

.register-form h2{
  font-size: 2.8em;
  margin-bottom: 2px;
  color: #D1E8E2;
}

.submit {
  background-color: #116466;
  color: #D1E8E2;
  margin-bottom: 40%;
}

input {
  width: 200%;
  margin-top: 15px;
  border: none;
  font-size: 1.5em;
  background-color: #D9B08C;
  border-radius: 6px;
  text-indent: 8px;
}
