body {
  margin: 0;
  background-color: #2C3531;
  color: #D1E8E2;
  font-family: 'Noto Sans Mono', monospace;
}

.title {
  margin-left: 15%;
}

.service-container {
  font-size: .8em;
  background-color: #116466;
  padding: 20px;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 20px;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.description {
  margin-left: 20px;
}

.place-bid {
  margin-top: 20px;
  height: 50%;
  width: 10%;

}
