body {
  margin: 0;
  background-color: #2C3531;
  color: #D1E8E2;
  font-family: 'Noto Sans Mono', monospace;
}

.title {
  margin-left: 20px;
}

.service-container {
  font-size: 1em;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 50%;
}

.description {
  margin-left: 20px;
}
