body {
  margin: 0;
  background-color: #2C3531;
  color: #D1E8E2;
  font-family: 'Noto Sans Mono', monospace;
}

.home-container {
  display: flex;
  width: auto;
  height: auto;
}

.title {
  margin-left: 10%;
  font-size: 1.4em;
}

.service-container {
  font-size: .8em;
  background-color: #116466;
  padding: 10px;
  width: 150%;
  margin-left: 10%;
  margin-bottom: 20px;
}

.details {
  margin-left: 20px;
  margin-right: 20px;
  font-size: .8em;
}

.service-details-container {
  margin-left: 10%;
  margin-right: 10%;
  width: 100%;
}

.description {
  margin-left: 10%;
  font-size: 1.2em;
}

.hiddendeets {
  display: none;
}

#bid-form-container {
  display: none;
  margin-left: 10%;
}

/* input {
  width: 50%;
  margin-top: 15px;
  border: none;
  font-size: 1.5em;
  background-color: #D9B08C;
  border-radius: 6px;
  text-indent: 8px;
} */
